<div class="container">
  <div class="carousel slide" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture2.png" alt="1 slide"></div>
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture3.png" alt="2 slide"></div>
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture4.png" alt="3 slide"></div>
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture5.jpg" alt="4 slide"></div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture6.jpg" alt="5 slide"></div>
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture7.jpg" alt="6 slide"></div>
          <div class="col-sm"><img class="d-block carousel-sponsor" src="../../../assets/img/past-sponsors/Picture8.jpg" alt="7 slide"></div>
        </div>
      </div>
    </div>
  </div>
</div>
