
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

<script>
    $(document).ready(function(){
        $('.sponsor-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: false,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });

</script>

<div class="container">
  <h2>Previous Sponsors</h2>
  <section class="sponsor-logos slider">
    <div class="slide"><img src="../../../assets/img/sponsors/Picture2.png"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture3.png"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture4.png"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture5.jpg"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture6.jpg"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture7.jpg"></div>
    <div class="slide"><img src="../../../assets/img/sponsors/Picture8.jpg"></div>
  </section>
</div>
