<div class="sponsor-home-container wow slideInUp">
  <div class="sponsor-head"><h3 style="text-align: center">Meet Our Sponsors</h3></div>
  <div class="container">
    <div class="carousel slide" data-ride="carousel" data-interval="4000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture1.png" alt="1 slide"></div>
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture2.png" alt="2 slide"></div>
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture3.png" alt="3 slide"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture4.jpg" alt="4 slide"></div>
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture5.png" alt="5 slide"></div>
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture6.png" alt="6 slide"></div>
            <div class="col-sm"><img class="d-block img-fluid carousel-sponsor"
                                     src="../../../assets/minimg/past-sponsors/Picture7.png" alt="7 slide"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
