.sponsor-home-container{
  margin: 30px 10%;
  padding-top: 25px;
  background: rgba(29,29,29,0.6);
}

.sponsor-head{
  /*margin-top: 60px;*/
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*background: rgba(29,29,29,0.6);*/
  /*max-width: 800px;*/
  color: #aaaaaa;
  text-shadow: 3px 3px 2px #430A06;
}

.container{
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  /*margin-bottom: 60px;*/
  /*background: rgba(29,29,29,0.6);*/
  padding-top: 40px;
  padding-bottom: 40px;
  height: 150px;
  /*box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);*/
  max-width: 800px;
}

.carousel-item{
  transition: transform 2s ease, opacity .5s ease-out;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.img-fluid{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}

.carousel-sponsor{
  width: 100px;
}

.carousel-inner{
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 768px){
  .sponsor-home-container{
    display: none;
  }
}
