.footer-container {
  background-color: black;
}

.row_1_container {
  margin-top: 10px;
}

.footer_avatar {
  width: 16px;
}

/*  Navigation Links  */
.footer-nav-list ul {
  text-align: center;
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0
}

.footer-nav-list ul a {
  color: #aaaaaa;
  text-decoration: none;
  text-shadow: 2px 2px 1px red;
  animation-name: pulse;
  /*font-weight: bold;*/
  font-size: small;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: none;
  /*opacity: .8;*/
}

@-webkit-keyframes pulse {
  0% {
    text-shadow: 1px 1px red;
  }
  25% {
    text-shadow: 2px 2px 1px red;
  }
  50% {
    text-shadow: 3px 3px 2px red;
  }
  75% {
    text-shadow: 2px 2px 1px red;
  }
  100% {
    text-shadow: 1px 1px red;
  }
}

.footer-nav-list ul a:hover {
  /*opacity: 1;*/
  color: white;
  -webkit-transition: .3s;
  text-shadow: 5px 5px 1px red;
  /*text-shadow:#88001a;*/
}

.footer-about {
  text-align: center;
  padding-top: 15px;
  color: #aaaaaa;
  text-shadow: 3px 3px 2px red;
  font-size: small;
}

/*  Social Media Icons  */

.social a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  box-shadow: 0 2px 4px 0 #88001a;
  color: #aaaaaa;
  text-shadow: 3px 3px 2px #88001a;
  opacity: .7;
  animation-name: pulse;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-fill-mode: none;
}

.social a:hover {
  opacity: 1;
  transition: .3s;
  box-shadow: 0 8px 16px 0 #88001a;
}

.footer-copyright {
  padding-top: 15px;
  color: #aaaaaa;
  text-shadow: 3px 3px 2px red;
}

@media (max-width: 768px) {
  .row_1_container.d-flex {
    flex-direction: column;
    flex: auto;
    flex-wrap: wrap;
  }

  .social {
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  .social {
    padding-top: 50px;
  }

  .footer-nav-list {
    padding-top: 15px;
  }

  .footer-nav-list ul a {
    font-size: medium;
  }

  .footer-about {
    font-size: large;
    max-width: 600px;
  }
}
