<!--<div class="footer-dark">-->
<!--  <footer>-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-sm-6 col-md-3 align-self-center item" style="padding: 0px;margin: 10px;">-->
<!--          <ul>-->
<!--            <li><a routerLink="/home">Home</a></li>-->
<!--            <li><a routerLink="/events" >Events</a></li>-->
<!--            <li><a routerLink="sponsors">Our Sponsors</a></li>-->
<!--            &lt;!&ndash;            <li><a routerLink="team">Team</a></li>&ndash;&gt;-->
<!--            <li><a routerLink="/dashboard">Dashboard</a></li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-md-6 align-self-center item text"><img src="../../assets/img/logo1-min.png" width="25%">-->
<!--          <p>-->
<!--            JK Lakshmipat University Near Mahindra SEZ, P.O. 302 026, Ajmer Road, Mahapura, Rajasthan 302026.<br>-->
<!--            Contact: 083022 23344-->
<!--          </p>-->
<!--        </div>-->

<!--      </div>-->
<!--      <p class="copyright">jkluSabrang © 2019</p>-->
<!--    </div>-->
<!--  </footer>-->
<!--</div>-->

<footer>
  <div class="footer-container">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row row_1_container">
        <!--For the main content-->
        <div class="d-flex footer-nav-list flex-fill justify-content-center">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/our-sponsors">Sponsors</a></li>
            <li><a routerLink="/dashboard">Dashboard</a></li>
          </ul>
        </div>
        <div class="d-flex flex-fill footer-about justify-content-center">
          <p>JK Lakshmipat University, Near Mahindra SEZ P.O. 302026, Ajmer Road, Mahapura, Jaipur, Rajasthan 302026</p>
        </div>
        <div class="d-flex flex-fill justify-content-center social">
          <a href="https://www.facebook.com/JKLUJAIPUR/" target="_blank"><i class="icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-youtube"></i></a>
          <a href="https://instagram.com/jklusabrang?igshid=1qw618xkojdpy" target="_blank"><i
            class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <div class="d-flex flex-row row_2_container">
        <!--For copyright-->
        <div class="d-flex flex-fill justify-content-center footer-copyright">
          <p> jkluSabrang © 2019 </p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!--

Todo:   Add youtube link, if present

-->
