<div class="footer-dark" style="margin-top: 80px;">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 align-self-center item" style="padding: 0px;margin: 10px;">
          <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/events" >Events</a></li>
            <li><a routerLink="sponsors">Our Sponsors</a></li>
            <!--            <li><a routerLink="team">Team</a></li>-->
            <li><a routerLink="/dashboard">Dashboard</a></li>
          </ul>
        </div>
        <div class="col-md-6 align-self-center item text"><img src="../../assets/img/logo1-min.png" width="25%">
          <p>
            JK Lakshmipat University Near Mahindra SEZ, P.O. 302 026, Ajmer Road, Mahapura, Rajasthan 302026.<br>
            Contact: 083022 23344
          </p>
        </div>
        <div class="col align-self-center item social">
          <a href="https://www.facebook.com/JKLUJAIPUR/" target="_blank"><i class="icon ion-social-facebook"></i></a>
          <a href="#"><i class="icon ion-social-youtube"></i></a>
          <a href="https://instagram.com/jklusabrang?igshid=1qw618xkojdpy" target="_blank"><i class="icon ion-social-instagram"></i></a></div>
      </div>
      <p class="copyright">jkluSabrang © 2019</p>
    </div>
  </footer>
</div>


<!--

Todo:   Add youtube link, if present

-->
