<footer>
  <div class="footer-container">
    <div class="d-flex flex-column">
      <div class="d-flex flex-row row_1_container">
        <!--For the main content-->
        <div class="d-flex footer-nav-list flex-fill justify-content-center">
          <ul>
            <li><a routerLink="/home"><img class="footer_avatar" src="../../assets/minimg/avatars/avatar-3.png"
                                           matTooltip="I am not a Tomato." matTooltipPosition="left"> Home</a></li>
            <li><a routerLink="/team"><img class="footer_avatar" src="../../assets/minimg/avatars/avatar-3.png"
                                           matTooltip="No, I don't have a Tail." matTooltipPosition="left">
              Our Team</a></li>
            <li><a routerLink="/events"><img class="footer_avatar" src="../../assets/minimg/avatars/avatar-3.png"
                                             matTooltip="Little Red faced Boy with Horns!" matTooltipPosition="left">
              Events</a></li>
            <li><a routerLink="/sponsors"><img class="footer_avatar" src="../../assets/minimg/avatars/avatar-3.png"
                                               matTooltip="My Horns are still Growing" matTooltipPosition="left">
              Sponsors</a></li>
            <li><a routerLink="/profile"><img class="footer_avatar" src="../../assets/minimg/avatars/avatar-3.png"
                                                matTooltip="Some people call me The HELLBOY!" matTooltipPosition="left">
              My Profile</a></li>
          </ul>
        </div>
        <div class="d-flex flex-fill footer-about justify-content-center">
          <p><a style="text-decoration: none; color: #aaaaaa"
                href="https://www.google.com/maps/@30.4766985,97.2319412,3z"
                target="_blank" matTooltip="Show on Map">Earth</a></p>
        </div>
        <div class="d-flex flex-fill justify-content-center social">
          <a href="#" target="_blank"><i class="icon ion-social-facebook"></i></a>
          <a href="#" target="_blank"><i
            class="icon ion-social-youtube"></i></a>
          <a href="#" target="_blank"><i
            class="icon ion-social-instagram"></i></a>
        </div>
      </div>
      <div class="d-flex flex-row row_2_container">
        <!--For copyright-->
        <div class="d-flex flex-fill justify-content-center footer-copyright">
          <p><img class="footer_avatar" src="../../assets/minimg/skull_left.png" matTooltip="I am the left SKULL"
                  matTooltipPosition="left"> no copyright © 2019 <img class="footer_avatar"
                                                                     src="../../assets/minimg/skull_right.png"
                                                                     matTooltip="I am the right SKULL"
                                                                     matTooltipPosition="right"></p>
        </div>
      </div>
      <div class="d-flex flex-row row_3_container">
        <div class="d-flex flex-fill justify-content-center devs">
          <p>
            <mat-icon style="vertical-align: bottom">code</mat-icon>
            by <a class="devs_link" [routerLink]='["/team"]' style="text-decoration: none; color: #aaaaaa;">Web
            Team</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
