.event-home-container{
  max-width: 800px;
  margin: 20px auto;
}

.carousel-item{
  transition: transform 2s ease, opacity .5s ease-out;
}

@media (max-width: 1200px){
  .event_carousel{
    margin-left: 6%;
    margin-right: 6%;
  }
}
