<div class="quotes">
  <img alt="Quote" src="https://tryshiftcdn.com/static/v3/images/quotes-circle.09696d0173b9.png" data-rjs="2">

  <h2 class="override">

    Here's what they're saying.

  </h2>

  <p class="quote">
    If you use multiple Gmail accounts, you’re used to having to open several tabs for everything. Shift alleviates this problem by opening up several accounts in one handy desktop client.
  </p>
  <p class="quote hide">
    If you're strictly a Gmail user, you know that juggling multiple accounts is a colossal pain. Newcomer Shift (available for Windows, Mac and Linux) takes away that pain, letting you shift (aha!) between accounts with ease.
  </p>
  <p class="quote hide">
    Shift makes perfect sense for anyone looking to significantly streamline their Google experience.
  </p>

  <div class="options">
    <div class="option">
      <div class="timer"></div>
      <img alt="Lifehacker" src="https://tryshiftcdn.com/static/v3/images/quotes-lifehacker.ba9816ffc3fe.svg">
      <img class="active" alt="Lifehacker" src="https://tryshiftcdn.com/static/v3/images/quotes-lifehacker-active.adb0ac7eabee.svg">
    </div>

    <div class="option">
      <div class="timer"></div>
      <img alt="Cnet" src="https://tryshiftcdn.com/static/v3/images/quotes-cnet.18d1d71234e4.svg">
      <img class="active" alt="Cnet" src="https://tryshiftcdn.com/static/v3/images/quotes-cnet-active.657f8ded5102.svg">
    </div>

    <div class="option">
      <div class="timer"></div>
      <img alt="TechRepublic" src="https://tryshiftcdn.com/static/v3/images/quotes-techrepublic.76d4b50a8bd0.svg">
      <img class="active" alt="TechRepublic" src="https://tryshiftcdn.com/static/v3/images/quotes-techrepublic-active.49de8dd35b70.svg">
    </div>
  </div>
</div>


