<!--Bookmarks card-->
<div class="event-bookmarks">
  <mat-card>
    <button mat-button *ngFor="let cate of categories">{{cate.value}}</button>
  </mat-card>
</div>
<!--Container Type 1-->
<div *ngFor="let event of events">
  <ng-container
    [ngTemplateOutlet]="event.id%2==0? con1 : con2"
    [ngTemplateOutletContext]="{event:event}">
  </ng-container>
</div>

<ng-template #con1 let-event="event">
  <div class="event-container-1" id="{{event.category}}">
    <div class="d-flex" (click)="onClickMore(event)" matTooltip="click to know more.">
      <div class="p-2 flex-grow-1">
        <img alt='{{event.name}}' class="img-fluid img-gradient-1 img-gradient" src="../../assets/img/sabrang-logo.png">
      </div>
      <div class="p-2 bd-highlight">
        <br>
        <div>
          <h4>{{event.name}}</h4>
          <p>{{event.des}}
          </p>
          <!--        <h6 class="card-subtitle">{{event.startTime}}-{{event.endTime}}</h6>-->
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #con2 let-event="event">
  <!--Container Type 2-->
  <div class="event-container-2" id="{{event.category}}{{event.id}}">
    <div class="d-flex" (click)="onClickMore(event)" matTooltip="click to know more.">
      <div class="p-2">
        <br>
        <div>
          <h4>{{event.name}}</h4>
          <p>{{event.des}}
          </p>
          <!--        <h6 class="card-subtitle">{{event.startTime}}-{{event.endTime}}</h6>-->
        </div>
      </div>
      <div class="p-2 flex-grow-1">
        <img alt='{{event.name}}' class="img-fluid img-gradient-2 img-gradient" src="../../assets/img/sabrang-logo.png">
      </div>
    </div>
  </div>
</ng-template>
