.event-bookmarks mat-card{
  background-color: #430A06;
  color: #aaaaaa;
  margin: 140px 15% 60px;
  box-shadow: 0 8px 16px 0 #362400;
  transition: box-shadow .3s;
  opacity: .9;
}

.event-bookmarks mat-card:hover{
  box-shadow: 0 4px 8px 0 #362400;
}

.event-bookmarks button{
  text-shadow: 1px 1px 1px #800601;
  font-size: large;
}

.event-bookmarks button:hover{
  box-shadow: 0 4px 8px 0 #800601;
  text-align: center;
  text-shadow: none;
  transition: .3s;
}

.event-container-1 {
  background-color: black;
  color: #aaaaaa;
  margin: 40px 15%;
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4);
  transition: box-shadow .3s;
}

.event-container-1:hover {
  box-shadow: 0 0 11px rgba(0,0,0,0.4);
  cursor: pointer;
  color: #6e4c00;
}

.event-container-2 {
  background-color: black;
  color: #aaaaaa;
  margin: 30px 15%;
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4);
  transition: box-shadow .3s
}

.event-container-2:hover {
  box-shadow: 0 0 11px rgba(0,0,0,0.4);
  cursor: pointer;
  color: #6e4c00;
}

.event-text{
  padding-right: 10px;
  padding-left: 10px;
}

.p-2 {
  padding: 0 !important;
}

.event-img{
  min-width: 600px;
}

@media (max-width: 919px) {
  .event-container-1 .d-flex{
    flex-direction: column;
    flex: auto;
  }

  .event-container-2 .d-flex{
    flex-direction: column-reverse;
    flex: auto;
  }

  .event-text{
    font-size: small;
    text-align: center;
  }

  .event-img{
    min-width: 300px;
  }
}

@media(max-width: 1024px) {
  .event-img{
    min-width: 430px;
  }
  .event-text{
    font-size: small;
  }
}

@media (max-width: 425px) {
  .event-img{
    min-width: 215px;
  }
  .event-text{
    font-size: small;
    text-align: center;
  }
}
