.snack-container{
  width: fit-content;
  width: -moz-fit-content;
}

.snack-avatar {
  width: 24px;
  height: 24px;
}

.snack-text {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  font-family: "DejaVu Sans", sans-serif;
  /*font-family: 'Eater', cursive;*/
}

@media(max-width: 1024px) {
  .snack-text{
    font-size: small;
  }
  .snack-avatar{
    width: 24px;
    height: 24px;
  }
}

