.main_container {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.event-detail-card mat-card-title {
  font-family: 'Griffy', cursive;
  font-weight: bold;
}

/*.event-detail-card mat-card-content{*/
/*  font-size: large;*/
/*}*/

.event-detail-card-container {
  position: relative;
  max-width: 800px;
  padding-top: 140px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .event-detail-card-container {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.event-detail-card {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  color: #aaaaaa;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

.event-detail-card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background: #333333;
  color: #aaaaaa;
}

.button-container button {
  /*border: 1px solid #88001a;*/
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.9);
  color: #aaaaaa;
  margin-right: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.button-container button:hover {
  background: #333333;
  color: #aaaaaa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: .3s;
}

@media (max-width: 1024px) {
  .event-detail-card {
    font-size: small;
  }
}

@media (max-width: 425px) {
  .event-detail-card {
    font-size: small;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

  .button-container button {
    background: #222222;
    color: #aaaaaa;
    border-radius: 5px;
  }

  .event-detail-card h1 {
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  .event-detail-card mat-card-title {
    font-size: medium;
    font-weight: bold;
    text-align: center;
  }
}
