.main_container {
  background: url('http://via.placeholder.com/1920x1080') center;
  background-size: cover;
}

.event-detail-card-container {
  position: relative;
  max-width: 800px;
  padding-top: 140px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .event-detail-card-container{
    margin-left: 15%;
    margin-right: 15%;
  }
}

.event-detail-card {
  margin-bottom: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}
.event-detail-card:hover{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.button-container button{
  border: 1px solid #88001a;
  border-radius: 2px;
  color: black;
  margin-right: 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.button-container button:hover{
  background: #88001a;
  color: #282d32;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
  transition: .3s;
}
