<!--<div *ngIf="event">-->
<div class="main_container" [ngStyle]="{'background':getBgLoc(event)}">
  <div class="event-detail-card-container detail">

    <div class="d-flex flex-row">
      <div>
        <button style="text-align: left" mat-button (click)="goBack()">
          <mat-icon color="warn">arrow_back_ios</mat-icon>
        </button>
      </div>
    </div>
    <div class="event-detail-content" [ngsRevealSet]="{reset:true}" [ngsSelector]="'.details'">
      <div class="details">
        <mat-card class="event-detail-card">
          <h1 style="text-align: center; font-family: 'Griffy', cursive;">{{event.name | titlecase}}</h1>
        </mat-card>
      </div>

      <div class="details">
        <div *ngIf="event.des">
          <mat-card class="event-detail-card">
            <mat-card-title>
              Description
            </mat-card-title>
            <mat-card-content>
              <p>{{event.des}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="details">
        <div *ngIf="event.judgement.length>0">
          <mat-card class="event-detail-card">
            <mat-card-title>
              Judgement Criteria
            </mat-card-title>
            <mat-card-content>
              <div *ngFor="let e of event.judgement">
                <ul>
                  <li>{{e}}</li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="details">
        <div *ngIf="event.rules.length>0">
          <mat-card class="event-detail-card">
            <mat-card-title>
              Rules
            </mat-card-title>
            <mat-card-content>
              <div *ngFor="let e of event.rules">
                <ul>
                  <li>{{e}}</li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div *ngIf="event.name=='CODEXTREME'">
        <div class="details">
          <mat-card class="event-detail-card">
            <mat-card-title>
              Registration Details
            </mat-card-title>
            <mat-card-content>
              <div *ngFor="let e of codextremeRegistration">
                <ul>
                  <li>
                    <div [innerHTML]="e"></div>
                  </li>
                </ul>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>


      <div class="details">
        <div *ngIf="event.prize || event.fee">
          <mat-card class="event-detail-card">
            <mat-card-title>
              Fees and Prizes
            </mat-card-title>
            <mat-card-content>
              <ul>
                <li *ngIf="event.name!='CODEXTREME'">The Registration fee for this event is ₹{{event.fee}}</li>
                <br *ngIf="event.name=='CODEXTREME'">
                <li *ngIf="event.name=='CODEXTREME'">The Registration fee for the final round of the event is
                  ₹{{event.fee}}. Online round is free.
                </li>
                <br>
                <li>The Winner of final round will receive ₹{{event.prize}}</li>
                <br *ngIf="event.name=='CODEXTREME'">
                <li *ngIf="event.name=='CODEXTREME'">Winners of first round are entitled for HackerEarth T-shirts.</li>
                <br>
                <li *ngIf="event.name=='CODEXTREME'">Top contestants of final round are entitled for 300 CodeChef
                  Laddus along with scholarships
                  for CCDSAP and above mentioned cash prize.
                </li>
              </ul>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </div>
    <div class="button-container">
      <button mat-button style="font-family: 'Griffy', cursive; font-size:x-large;" (click)="onClickRegister(event)">
        Register
      </button>
    </div>
  </div>
</div>
