<div *ngIf="dbService.loggedInUserData; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
  <button (click)="auth.googleSignIn()">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div>

<!--    <button (click)="auth.signOut()">Logout</button>-->
  </div>
  <div class="d-flex flex-column">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h3 class="card-title">{{ userData.name }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">{{userData.college}}</h6>
        <div class="card-text">
          <p>Events participated</p>
          <p *ngFor="let event of participatedEvents">{{event}}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
