.dash-card {
  max-width: 800px;
  margin: 140px auto 40px;
  background-color: black;
  color: #aaaaaa;
  box-shadow: 0 4px 8px 0 #400012;
  font-family: 'Griffy', cursive;
  font-weight: bold;
  /*font-family: 'Eater', cursive;*/
}

.event-links{
  text-decoration: none;
  color: #aaaaaa;
  opacity: 0.8;
}

.event-links:hover{
  opacity: 1;
  transition: .3s;
}
.dash-card-container{
  text-align: center;
}

.sub{
  color: #aaaaaa;
}

.dash-avatar{
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0 8px 8px 0 #88001a;
}

.dash-avatar:hover{
  box-shadow: 0 2px 4px white;
  transition: .3s;
}

.edit_button{
  color: #aaaaaa;
  margin-top: 10px;
  opacity: .8;
  font-family: 'Griffy', cursive;
}

.edit_button:hover{
  color: #aaaaaa;
  opacity: 1;
  transition: .3s;
}

.dash-card:hover{
  box-shadow: 0 8px 16px 0 #400012;
  transition: .3s;
}

.dash-card-content{
  padding-left: 15px;
}

.dash-card-2 {
  max-width: 800px;
  margin: 0 auto 220px;
  background-color: black;
  color: #aaaaaa;
  box-shadow: 0 4px 8px 0 #400012;
  font-size: large;
}

.dash-card-content-2{
  padding-left: 15px;
  background-color: black;
  color: #aaaaaa;
}

@media(max-width: 768px){
  .dash-card{
    margin-right: 6% !important;
    margin-left: 6% !important;
    font-size: medium;
  }
  .dash-card-2{
    margin-right: 6% !important;
    margin-left: 6% !important;
    font-size: medium;
  }
}
