<div *ngIf="auth.loggedInUser | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>

  <button (click)="auth.googleSignIn()">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.loggedInUser | async as user">
    <h3>Howdy, {{ user.name }}</h3>
    <p>UID: {{ user.id }}</p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
