<div *ngIf="dbService.loggedInUserData; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<!-- User NOT logged in -->
<ng-template #guest>
  <h3>Howdy, GUEST</h3>
  <p>Login to get started...</p>
  <button (click)="auth.googleSignIn()">
    <i class="fa fa-google"></i> Connect Google
  </button>
</ng-template>
<!-- User logged in -->
<ng-template #authenticated>
  <mat-card class="dash-card wow bounceInDown">
    <div class="dash-card-container">
      <img class="dash-avatar wow pulse" #avatar src='{{path}}' alt="Avatar" matTooltip='{{tooltipAvatar}}'
           matTooltipPosition="right" data-wow-iteration="infinite" data-wow-duration="1500ms">
      <mat-card-title
        style="margin-top:8px; font-family: 'Griffy', cursive; font-weight: bold">{{userData.name}}</mat-card-title>
      <div *ngIf="!userData.newUser">
        <mat-card-subtitle class="sub">{{userData.college}}</mat-card-subtitle>
        <mat-card-subtitle class="sub">{{userData.address}}<br>{{userData.city}} | {{userData.state}}
        </mat-card-subtitle>
        <mat-card-subtitle class="sub">{{userData.phoneNo}}</mat-card-subtitle>
        <mat-card-subtitle class="sub" style="text-align: center">
          <button mat-button class="edit_button" (click)="editUserDetails()">Edit</button>
        </mat-card-subtitle>
      </div>
    </div>
  </mat-card>
  <div class="events-registered-card" *ngIf="registeredEvents.length>0; then events else noEvents">
    <!--    events template will replace here-->
  </div>
</ng-template>

<ng-template #events>
  <mat-card class="dash-card-2 wow bounceInUp">
    <div class="dash-card-content-2">
      <mat-card-content>
        <h5 style="padding-bottom: 8px; font-family: 'Griffy', cursive;">Registered Events</h5>
        <ul>
          <li *ngFor="let key of registeredEvents">
            <div class="d-flex flex-row justify-content-between event-team-container" >
              <a class="event-links"
                 [routerLink]="['/events/',eventsData[key].id]">{{eventsData[key].name | uppercase}}</a>
              <div [ngSwitch]="eventsData[key].team">
                <div *ngSwitchCase="true">
                  <a class="create_team_button" (click)="onCreateTeam(key)">Create Team</a>
                </div>
                <div *ngSwitchCase="false">
                </div>
                <div *ngSwitchDefault>
                  {{eventsData[key].team}}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </mat-card-content>
    </div>
  </mat-card>
</ng-template>

<ng-template #noEvents>
  <mat-card class="dash-card-2 wow bounceInUp">
    <div class="dash-card-content-2">
      <mat-card-content>
        <p>You have not registered for any event.
          <button style="text-decoration: none; color:#aaaaaa" mat-button (click)="navigateToEvents()"><b>Register
            Now</b></button>
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</ng-template>

