<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <br>
  <a routerLink="/events" routerLinkActive="active">Events</a>
  <br>
  <a routerLink="/team" routerLinkActive="active">Team</a>
  <br>
  <a routerLink="/sponsors" routerLinkActive="active">Our Sponsors</a>
  <div *ngIf="dbService.loggedInUserData; then authenticated else guest">
  </div>
  <ng-template #guest>
    <button (click)="auth.googleSignIn()">Login</button>
  </ng-template>
  <ng-template #authenticated>
    <button (click)="auth.signOut()">Logout</button>
  </ng-template>
</nav>
