<div class="main_header">
  <nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container">

      <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/home">
        <img src="../../assets/minimg/sabrang-logo.png" class="nav_logo img-fluid" alt="SABRANG2K19">
      </a>

      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item"></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link"
                                                                                             routerLink="/home"
                                                                                             routerLinkActive="active">Home</a>
          </li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show"
              class="nav-item"><a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
          </li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link"
                                                                                             routerLink="/team"
                                                                                             routerLinkActive="active">Our
            Team</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link"
                                                                                             routerLink="/sponsors"
                                                                                             routerLinkActive="active">Our
            Sponsors</a>
          <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link"
                                                                                             routerLink="/profile"
                                                                                             routerLinkActive="active">My
            Profile</a></li>
          <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"><a class="nav-link"
                                                                                             href="https://drive.google.com/drive/folders/1x09tOxms_1jeWem10HcMf-qXuRpvgr8i?usp=sharing"
                                                                                             target="_blank">
            Transportation Routes</a></li>
        </ul>
        <div *ngIf="dbService.loggedInUserData; then authenticated else guest"></div>
        <ng-template #guest>
          <button data-toggle="collapse" data-target=".navbar-collapse.show" class="interaction" mat-button
                  (click)="auth.googleSignIn()">Login/Signup
          </button>
        </ng-template>
        <ng-template #authenticated>
          <button data-toggle="collapse" data-target=".navbar-collapse.show" class="interaction" mat-button
                  (click)="auth.signOut()">Logout
          </button>
        </ng-template>
      </div>
    </div>
  </nav>
</div>
