@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
html{
  height: 100%;
}

body {
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  outline: 0;
  margin: 0;
  padding: 0;
  background: url("assets/minimg/background_img.jpg") center fixed;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #aaaaaa;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: red;
}

::-webkit-scrollbar-thumb{
  border: 1px solid #430A06;
  border-radius: 30%;
  background-color: #430A06;
}

::-webkit-scrollbar-button{
  background-color: #430A06;
}

.snackbar-login {
  background: #000000;
}

