@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
html{
  height: 100%;
}
body {
  max-width: 100%;
  min-height: 100%;
  overflow: auto;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: "DejaVu Sans", sans-serif;
  background: url("assets/img/back3.jpg") center fixed;
  background-size: cover;
  color: #aaaaaa;
}

::-webkit-scrollbar{
  width: 6px;
  background-color: red;
}

::-webkit-scrollbar-thumb{
  /*box-shadow: 0 2px 4px 0 #000000;*/
  border: 1px solid #430A06;
  border-radius: 30%;
  background-color: #430A06;
}

::-webkit-scrollbar-button{
  background-color: #430A06;
}

/*todo: snackbar color*/
.snackbar-login {
  background: #000000;
}

/* primary color: blood red
background : black
accent color: yellowish orange */
