<!--<div class="container">-->
<!--  <div class="navigation">-->

<!--  </div>-->
<!--  <div class="header-img">-->
<!--<img src="{{headerImg}}">-->
<!--  </div>-->
<!--</div>-->

<div style="margin: 30px 15%">
  <div class="d-flex bd-highlight">
    <div class="p-2 bd-highlight">
      About sabrang...<br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pharetra ultrices elit, non bibendum enim
      suscipit ac. Phasellus consectetur ut odio sed efficitur. Nullam eu mauris ut urna sodales vulputate. Sed
      elementum ipsum lectus, in eleifend risus euismod a. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Cras eleifend, magna sit amet facilisis gravida, libero odio rhoncus est, ac viverra est dui ac
      nulla. Cras ac malesuada arcu, at imperdiet dui.
    </div>
    <div class="p-2 flex-grow-1 bd-highlight">
      <img class="img-fluid" src="../../assets/img/sabrang-logo.png" alt="SABRANG2k19">
    </div>
  </div>
</div>

<app-events-small></app-events-small>
