<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    // $(document).ready(function () {
    //     $("a").on('click', function (event) {
    //         if (this.hash !== "") {
    //             event.preventDefault();
    //             var hash = this.hash;
    //             $('html, body').animate({
    //                 scrollTop: $(hash).offset().top
    //             }, 800, function () {
    //
    //                 window.location.hash = hash;
    //             });
    //         }
    //     });
    // });

</script>
<section id="firstpage_content" class="firstpage">
  <img src="../../assets/img/sab2.png" style="width: 30%">
  <!-- Add the id of the next component-->
  <a href="#id_goes_here"><span></span>Scroll</a>
  <button>Register</button>
</section>


