<section id="firstPage_content" class="firstPage">
  <div class="d-flex flex-column">
    <div id="sabrang-logo" class="d-flex flex-row logo_container" #sabrangLogoRef>
      <img class="first_page_logo" src="../../assets/img/sab2.png" data-depth="0.6">
    </div>

    <!-- Add the id of the next component-->
    <div class="d-flex flex-row register_container" (mousemove)="onMouseMove($event)">
      <a class="register" [routerLink]="['/events']" data-title="Register" (mousedown)="onMouseDown()"
         (mouseup)="onMouseUp()" (mouseleave)="onMouseLeave()"></a>
    </div>
    <div class="d-flex flex-row scroll_container">
      <a class="scroll" href='' (click)="!!scrollToAbout()"><span class="scroll-span"></span>Scroll</a>
    </div>
  </div>
</section>


<div style="margin: 30px 15%" #about>
  <div class="d-flex home-about bd-highlight">
    <div class="p-2 bd-highlight">
      SABRANG is celebrated annually by the University since 2011, with the objective to provide an opportunity to the
      students from different colleges and Universities across the nation and encourage them to show their potential and
      talents. Response in SABRANG’18 held on February 22-23, 2018 was overwhelming. Students of different institutions
      from various parts of the country participated in around 27 different events during SABRANG’18. Special attraction
      of SABRANG-2018 were the stunning performances of the popular 9X DJ Mr. Myris & Mr Singh, and many more. We are
      pleased to inform you that Sabrang – 2017 was also greatly successful. The special attraction of SABRANG’17 were
      popular Bollywood singer “Ankit Tiwari” and many more. The function was extensively covered by print media and
      digital media.
      Spread over a span of three days, the fest is likely to attract huge participation from across country along with
      the present strength of approx. 700 students of the University. Apart from 2000 participating students, around 100
      faculty and staff members will also grace the occasion. The fest focuses on taking in its fold the major
      disciplines of the University I.e. Management & Engineering and Technology.
    </div>
    <div class="p-2 flex-grow-1 bd-highlight">
      <img class="img-fluid" src="../../assets/img/sabrang-logo.png" alt="SABRANG2k19">
    </div>
  </div>
</div>

<app-events-small></app-events-small>
<app-sponsors-home></app-sponsors-home>

