@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);

@media (max-width: 1142px) {
  .home-about.d-flex {
    flex-direction: column-reverse;
    flex: auto;
  }
}

.home-about{
  color: #aaaaaa;
  text-shadow: 2px 2px 1px #430A06;
  margin: 30px 10%;
  padding-top: 10px;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  height: 100vh;
  transform-style: preserve-3d;
  transform: perspective(800px);
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 5;
}

section.d-flex {
  flex-direction: column;
  justify-content: center;
}

@media(max-width: 425px){
  .register_container{
    margin-top: 0 !important;
  }
  .home-about{
    font-size: small !important;
  }
}

@media (max-width: 768px) {
  section.d-flex {
    flex-direction: column;
    justify-content: center;
  }
  .logo_container{
    margin-top: 300px;
  }

  .first_page_logo{
    min-width: 350px !important;
  }

  .register_container{
    margin-top: 300px;
  }
  .register{
    width: 150px !important;
    height: 55px !important;
    font-size: small !important;
  }
}

@media (max-width: 1366px){
  .logo_container{
    margin-top: 80px !important;
  }

  .first_page_logo{
    min-width: 300px !important;
  }

  .register{
    width: 200px !important;
    height: 60px !important;
    /*font-size: small !important;*/
  }
}

section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .8) 80%, rgba(0, 0, 0, .8) 100%);
}

.logo_container {
  justify-content: center;
  margin-top: 150px;
}

.register_container {
  justify-content: center;
}

.scroll_container {
  justify-content: center;
  /*top:80%;*/
  margin-top: 15%
}

.first_page_logo {
  /*position: absolute;*/
  width: 30%;
  /*left: 50%;*/
  z-index: 10;
  /*-webkit-transform: translate(-50%, -50%);*/
  /*transform: translate(-50%, -50%);*/
  /*color: #fff;*/
  font: normal 300 64px/1 'Josefin Sans', sans-serif;
  /*text-align: center;*/
  white-space: nowrap;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 10;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
}

.scroll:hover {
  opacity: .5;
}

#firstPage_content {
  background: url('../../assets/img/sample.jpg') center;
  background-size: cover;
  width: 100%;
}


.scroll {
  padding-top: 70px;
  height: 70px;
  width: 60px;
}

.scroll .scroll-span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: sdb06 1.5s infinite;
  animation: sdb06 1.5s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb06 {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    -moz-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    -moz-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes sdb06 {
  0% {
    transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    -moz-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    transform: rotateY(720deg) rotateZ(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.register {
  position: relative;
  width: 250px;
  height: 60px;
  display: inline-block;
  padding: 1.2em 2em;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  margin-top: 90px;
  z-index: 10;
  color: #fff;
  white-space: nowrap;
}

.register::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(4,37,57);
  background: -moz-linear-gradient(360deg, rgba(4,37,57,1) 0%, rgba(108,100,64,1) 100%);
  background: -webkit-linear-gradient(360deg, rgba(4,37,57,1) 0%, rgba(108,100,64,1) 100%);
  background: linear-gradient(360deg, rgba(4,37,57,1) 0%, rgba(108,100,64,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#042539",endColorstr="#6c6440",GradientType=1);
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-transition: box-shadow 0.5s ease, -moz-transform 0.2s ease;
  transition: box-shadow 0.5s ease, transform 0.2s ease;
  will-change: -webkit-transform;
  will-change: -moz-transform;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  -moz-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(var(--tz, -12px));
}

.register:hover::before {
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
}

.register::after {
  position: relative;
  display: inline-block;
  content: attr(data-title);
  -moz-transition: -moz-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  font-weight: bold;
  letter-spacing: 0.01em;
  will-change: -webkit-transform;
  will-change: -moz-transform;
  -moz-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  -webkit-transform: translateY(var(--ty, 0)) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
}
