<div class="sponsor-container">
  <mat-card class="sponsor-card wow fadeInUp">
    <!--        <div class="item" ngsReveal="sponsor-logo-a">-->
    <h3 style="color: #aaaaaa;padding-bottom: 15px; font-family: 'Griffy', cursive;" class="wow fadeInDown">
      Sponsors</h3>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture2.png"
         alt="oppo"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture3.png"
         alt="JK TYRE"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture4.png"
         alt="VIVO"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture5.jpg"
         alt="STYLE 'N' SCISSORS"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture6.jpg" alt="9XO"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture7.jpg"
         alt="RAJANYAS"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture8.jpg" alt="VH1"><br>
    <!--        </div>-->
  </mat-card>
</div>
