.sponsor-container{
  max-width: 800px;
  margin: 140px auto;
}

.sponsor-card{
  text-align: center;
  background: black;
  /*color: #430A06;*/
  border: 1px solid #430A06;
  /*border-color: ;*/
}

.sponsor-card:hover{
  box-shadow: 0 2px 4px 0 #430A06;
  transition: .3s;
}

.sponsor-logo-a{
  margin-bottom: 50px;
  border: none;
  box-shadow: 0 4px 8px 0 #88001a;
}

@media (max-width:768px) {
  .sponsor-container{
    margin-left: 6%;
    margin-right: 6%;
  }
  .sponsor-logo-a{
    max-width: 200px;
  }
}
