<div class="sponsor-container">
  <mat-card class="sponsor-card">
<!--    <div class="item" ngsReveal="">-->
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture2.png" alt="oppo"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture3.png" alt="JK TYRE"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture4.png" alt="VIVO"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture5.jpg" alt="STYLE 'N' SCISSORS"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture6.jpg" alt="9XO"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture7.jpg" alt="RAJANYAS"><br>
    <img class="sponsor-logo img-fluid" src="../../assets/img/past-sponsors/Picture8.jpg" alt="VH1"><br>
<!--    </div>-->
  </mat-card>
</div>
