.sponsor-container{
  max-width: 800px;
  margin: 140px auto;
}

.sponsor-card{
  text-align: center;
}

.sponsor-card:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
  transition: .3s;
}

.sponsor-logo{
  padding-bottom: 50px;
}

@media (max-width:768px) {
  .sponsor-container{
    margin-left: 6%;
    margin-right: 6%;
  }
  .sponsor-logo{
    max-width: 200px;
  }
}
