<div class="sponsor-container">
  <mat-card class="sponsor-card wow fadeInUp">
    <!--            <div class="item" [ngsRevealSet]="{reset:true}" [ngsSelector]="'.sponsor-logo-a'">-->
    <h3 style="color: #aaaaaa;padding-bottom: 15px; font-family: 'Griffy', cursive;" class="wow fadeInDown">
      Meet Our Sponsors</h3>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture1.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture2.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture3.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture4.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture5.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture6.png"><br>
    <img class="sponsor-logo-a img-fluid wow fadeInDown" src="../../assets/minimg/past-sponsors/Picture7.png"><br>
  </mat-card>
</div>
