.team-register-container {
  padding: 5px;
  justify-content: center;
  margin: 140px 15% 5%;
  display: flex;
}
.team-note{
  opacity: .8;
  font-weight: unset;
  margin-top: 20px !important;
  margin-bottom: 20px;
  text-wrap: normal;
  text-align: center;
}
.team-register-card{
  background-color: black;
  box-shadow: 0 2px 4px #400012;
  color: #aaaaaa;
}
.add-remove-buttons:hover{
  color: #aaaaaa !important;
  transition: .3s;
}
.full-width{
  width: 300px !important;
}
.d-flex{
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .d-flex{
    flex-direction: column;
    text-align: center;
    flex: auto;
  }

  .name-email.d-flex{
    flex-direction: column !important;
    text-align: center;
    flex: auto;
    flex-wrap: nowrap;
  }
}

@media(max-width: 600px) {
  .d-flex{
    flex-direction: column;
    flex: auto;
    text-align: center;
  }
  .full-width{
    width: auto !important;
  }
  .team-register-fields p{
    font-size: small;
  }
  .team-register-card mat-card-title{
    font-size: medium;
  }
  .name-email.d-flex{
    flex-direction: column !important;
    text-align: center;
    flex: auto;
    flex-wrap: nowrap;
  }
}

@media(max-width: 425px) {
  .team-note{
    font-size: small !important;
  }
  .name-email.d-flex{
    flex-direction: column !important;
    text-align: center;
    flex: auto;
    flex-wrap: nowrap;
  }
  /*.rmvbtn{*/
  /*  width: fit-content;*/
  /*}*/
  /*.remove.d-flex{*/
  /*  justify-content: center;*/
  /*  width: 100%;*/
  /*}*/
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #400012 !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #400012 !important;
}
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #aaaaaa !important;
}
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #400012 !important;
  opacity: 0.8 !important;
}
::ng-deep .mat-hint {
  color: #aaaaaa !important;
}
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #aaaaaa !important;
}
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #aaaaaa !important;
}
::ng-deep .mat-form-field-label {
  color: #aaaaaa !important;
}
.mat-raised-button:disabled{
  color: #aaaaaa;
  opacity: .7;
  border: 1px solid #aaaaaa;
}
.mat-raised-button{
  color: #aaaaaa;
  background: #430A06;
}
.mat-raised-button:hover{
  box-shadow:0 4px 8px 0 #88001a;
  transition: .3s;
}
