<div class="team-register-container">
  <mat-card class="team-register-card">
    <mat-card-header style="justify-content: center">
      <mat-card-title><h2>Register Your Team</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content class="team-register-fields">
      <p class="team-note">Note: Make Sure all the Team Members are registered on the Sabrang 2k19 Website.</p>

      <div class="form-fields d-flex flex-column">
        <form [formGroup]="teamForm">

          <div class="d-flex flex-row justify-content-center">
            <div class="full-width field">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Team Name</mat-label>
                <input matInput placeholders="Team Name" formControlName="teamName">
                <mat-error *ngFor="let validation of teamMemberValidMsg.teamName">
                  <mat-error *ngIf="(teamName.dirty|| teamName.touched)&& teamName.hasError(validation.type)">
                    {{validation.message}}
                  </mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="d-flex flex-row flex-wrap name-email justify-content-center">
            <div class="full-width field">
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" readonly formControlName="firstEmail">
              </mat-form-field>
            </div>

            <div class="full-width field">
              <mat-form-field style="margin-left: 2%" class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" readonly formControlName="firstName">
              </mat-form-field>
            </div>
          </div>
          <h2 style="margin-bottom: 10px">Team Members</h2>
          <div formArrayName="teamMembers">
            <div *ngFor="let teamMember of teamMembers.controls; let i=index" [formGroupName]="i">
              <div>
              <span>
                Member {{i + 2}}
              </span>
                <span *ngIf="teamMembers.controls.length>1" (click)="deleteTeamMember(i)"></span>
              </div>

              <div class="d-flex flex-row flex-wrap name-email justify-content-center">
                <div class="d-flex flex-col">
                  <div class="full-width field">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput placeholder="Email" formControlName="email">
                      <mat-error *ngFor="let validation of teamMemberValidMsg.email">
                        <mat-error
                          *ngIf="(teamMember.get('email').dirty || teamMember.get('email').touched)&&
                      teamMember.get('email').hasError(validation.type)">{{validation.message}}</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>

                <div class="d-flex flex-col">
                  <div class="full-width field">
                    <mat-form-field style="margin-left: 2%" class="full-width" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input matInput placeholder="Name" readonly formControlName="name">
                    </mat-form-field>
                  </div>
                </div>


                <div style="align-items: center" class="d-flex flex-col flex-fill flex-wrap">
                  <button style="color: #430A06; max-width: fit-content" class="add-remove-buttons" mat-button
                          (click)="deleteTeamMember(i)">
                    <mat-icon style="vertical-align: baseline">remove_circle_outline</mat-icon>
                  </button>
                </div>
                
              </div>

            </div>
            <div class="d-flex flex-row flex-fill">
              <button style="color: #430A06;" class="add-remove-buttons" mat-button (click)="addTeamMember()">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </div>
          </div>

          <div class="submit-button field" style="margin-top:15px; text-align: right">
            <button mat-raised-button type="submit" [disabled]="!teamForm.valid" (click)="saveMethod()">Submit
            </button>
          </div>

        </form>
      </div>
      <!--      {{this.teamForm.value|json}}-->
      <!--      {{this.teamForm.status}}-->

    </mat-card-content>
  </mat-card>
</div>
