<div class="team-register-container">
  <mat-card class="team-register-card">
    <mat-card-header>
      <mat-card-title><h2 style="text-align: center">Register Your Team</h2></mat-card-title>
    </mat-card-header>

    <mat-card-content class="team-register-fields">
      <p class="team-note">Note: Make Sure all the Team Members are registered on the Sabrang 2k19 Website.</p>

      <div class="form-fields d-flex flex-column">
        <form [formGroup]="teamForm" >
          <div class="full-width field">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Team Name</mat-label>
              <input matInput placeholders="Team Name" formControlName="teamName">
              <mat-error *ngFor="let validation of teamMemberValidMsg.teamName">
                <mat-error *ngIf="(teamName.dirty|| teamName.touched)&& teamName.hasError(validation.type)">
                  {{validation.message}}
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <h2 style="margin-bottom: 10px">Team Members</h2>
          <div formArrayName="teamMembers">
            <div *ngFor="let teamMember of teamMembers.controls; let i=index" [formGroupName]="i">
              <div>
              <span>
                Member {{i + 1}}
              </span>
                <span *ngIf="teamMembers.controls.length>1" (click)="deleteTeamMember(i)"></span>
              </div>
              <div class="full-width field">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Email" formControlName="email">
                  <mat-error *ngFor="let validation of teamMemberValidMsg.email">
                    <mat-error
                      *ngIf="(teamMember.get('email').dirty || teamMember.get('email').touched)&&
                      teamMember.get('email').hasError(validation.type)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="full-width field">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput placeholder="Name" readonly formControlName="name" >
                </mat-form-field>
                <button style="color: #430A06" class="add-remove-buttons" mat-button (click)="deleteTeamMember(i)">
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
              </div>
            </div>
            <button style="color: #430A06;" class="add-remove-buttons" mat-button (click)="addTeamMember()">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
          </div>
          <div class="submit-button field" style="margin-top:15px; text-align: right">
            <button mat-raised-button type="submit" [disabled]="!teamForm.valid" (click)="saveMethod()">Submit
            </button>
          </div>
        </form>
      </div>
            {{this.teamForm.value|json}}
            {{this.teamForm.status}}

    </mat-card-content>
  </mat-card>
</div>
