.field{
    /* margin: 2%; */
}
.registration-card{
    text-align: -webkit-center;
}
.registration-form{
    display: flex;
}

@media (max-width: 768px) {
  .d-flex{
    flex-direction: column;
    flex: auto;
  }
}

.full-width{
  width: 412px !important;
}
