<div class="registration-form" style="padding: 5px; justify-content: center; margin-top: 3%; margin-bottom: 5% ">
  <mat-card class='registration-card' tabindex="1">
    <div class="form-title">
      <mat-card-header>
        <mat-card-title>
          <h2 style="text-align: center">Registration Form</h2>
        </mat-card-title>
      </mat-card-header>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content style="padding-top: 15px">

      <div class="form-fields d-flex flex-column">
        <form [formGroup]="userDetailsForm" (ngSubmit)="onSubmit()">
          <div class="full-width field">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Shubham Bhandari" formControlName="name">
              <mat-error *ngFor="let validation of userDetailsValidMsg.name">
                <mat-error
                  *ngIf="(name.dirty || name.touched)&& name.hasError(validation.type)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="d-flex">
            <div class="field" style="margin-right: 2%;">
              <mat-form-field appearance="outline">
                <mat-select placeholder="Gender" formControlName="gender">
                  <mat-option *ngFor="let gender of genders" [value]=gender.id>{{gender.value}}</mat-option>
                </mat-select>
                <mat-error *ngFor="let validation of userDetailsValidMsg.gender">
                  <mat-error
                    *ngIf="(gender.dirty || gender.touched) && gender.hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field class="phone-no-field" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput #phoneno maxlength="10" placeholder="1234567890" formControlName="phoneNo">
                <mat-hint align="end">{{phoneno.value.length}} / 10</mat-hint>
                <mat-error *ngFor="let validation of userDetailsValidMsg.phoneNo">
                  <mat-error
                    *ngIf="(phoneNo.dirty || phoneNo.touched) && phoneNo.hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex">
            <div class="full-width field" class="email-field">
              <mat-form-field class="email-id-field full-width" appearance="outline">
                <mat-label>Email id</mat-label>
                <input matInput #email placeholder="Email id" formControlName="email">
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex">
            <div class="full-width field" style="margin-right: 2%;">
              <mat-form-field class="address-field full-width" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput placeholder="12, Chitrakoot" formControlName="address">
                <mat-error *ngFor="let validation of userDetailsValidMsg.address">
                  <mat-error
                    *ngIf="(address.dirty || address.touched) && address.hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex">
            <div class="field">
              <mat-form-field class="pin-code-field" appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput #pincode maxlength="6" placeholder="302021" formControlName="pinCode">
                <mat-hint align="end">{{pincode.value.length}} / 6</mat-hint>
                <mat-error *ngFor="let validation of userDetailsValidMsg.pinCode">
                  <mat-error
                    *ngIf="(pinCode.dirty || pinCode.touched) && pinCode.hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex">
            <div style="margin-right: 2%" class="field">
              <mat-form-field class="city-field" appearance="outline">
                <mat-label>City</mat-label>
                <input matInput placeholder="Jaipur" formControlName="city">
                <mat-error *ngFor="let validation of userDetailsValidMsg.city">
                  <mat-error
                    *ngIf="(city.dirty || city.touched) && city.hasError(validation.type)">{{validation.message}}</mat-error>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="d-flex">
              <div class="field">
                <mat-form-field class="state-field" appearance="outline">
                  <mat-label>State</mat-label>
                  <input matInput placeholder="Rajasthan" formControlName="state">
                  <mat-error *ngFor="let validation of userDetailsValidMsg.state">
                    <mat-error
                      *ngIf="(state.dirty || state.touched) && state.hasError(validation.type)">{{validation.message}}</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="full-width field">
            <mat-form-field appearance="outline" class=full-width>
              <mat-label>College/University Name</mat-label>
              <input matInput placeholder="JK Lakshmipat University" formControlName="college">
              <mat-error *ngFor="let validation of userDetailsValidMsg.college">
                <mat-error
                  *ngIf="(college.dirty || college.touched) && college.hasError(validation.type)">{{validation.message}}</mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <section class="transport-section field">
              <mat-slide-toggle class="example-margin" formControlName="transport"
                                matTooltip="Free transport is available for Jaipur residents.">
                Transportation
              </mat-slide-toggle>
            </section>
          </div>

          <div class="submit-button field" style="margin-top:15px; text-align: right">
            <button mat-raised-button color="primary" type="submit" [disabled]="!userDetailsForm.valid">Submit
            </button>
          </div>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
