.field {
  /* margin: 2%; */
}

.registration-card {
  background-color: black;
  text-align: -webkit-left;
  text-align: -moz-left;
  text-align: left;
  box-shadow: 0 2px 4px #400012;
  margin-top: 140px;
  color: #aaaaaa;
  /*font-family: 'Eater', cursive !important;*/
}

.registration-form {
  display: flex;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    flex: auto;
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }
}

@media (max-width: 425px) {
  .full-width {
    width: auto !important;
  }

  .registration-card {
    margin-left: 3%;
    margin-right: 3%;
  }
  .d-flex{
    text-align: center;
    text-align: -moz-center;
    text-align: -webkit-center;
  }
}

@media (min-width: 1024px) {
  .full-width {
    width: 412px !important;
  }
}

::ng-deep .mat-select-value {
  color: #aaaaaa !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #400012 !important;
  color: #aaaaaa !important;
}

/*//input outline color*/
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #400012 !important;
}

/*//mat-input focused color*/
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #400012 !important;
}

/*// mat-input error outline color*/
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: #400012 !important;
  opacity: 0.8 !important;
}

/*// mat-input carent color*/
::ng-deep .mat-input-element {
  caret-color: #400012 !important;
  color: #aaaaaa !important;
}

/*::ng-deep .mat-select{*/
/*  caret-color: #400012!important ;*/
/*}*/

/*// mat-input error carent color*/
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: #400012 !important;
}

/*// mat-label normal state style*/
::ng-deep .mat-form-field-label {
  color: #aaaaaa !important;
}

/*// mat-label focused style*/
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #aaaaaa !important;
}

/*// mat-label error style*/
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #aaaaaa !important;
}
